#header{
    height: 80px;
    background-color: blue;
}

#body{
    display: flex;
    border: solid 1px black;
    background-color: beige;
}
#body #menu{
    width: 200px;
    background-color: aqua;
    height: 300px;
}
#body #content{
    background-color: aliceblue;
    height: 800px;
}
#body #news{
    width: 200px;
    background-color: cyan;
    height: 500px;
}

#footer{
    height: 100px;
    background-color: red;
}