#header{
    height: 80px;
    background-color: blue;
}

#body{
    display: flex;
    border: solid 1px black;
    background-color: beige;
}
#body #menu{
    width: 15%;
    background-color: aqua;
    height: 300px;
    margin-top: 10px;
    margin-right: 2%;
}
#body #content{
    background-color: aliceblue;
    height: 800px;
    width: 56%;
    margin: 10px;
}
#body #news{
    width: 25%;
    background-color: cyan;
    height: 400px;
    margin-top: 10px;
    margin-left: 2%;
}

#footer{
    height: 100px;
    background-color: red;
}